<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayush.qapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Love_Quotes"
            android:label="@string/love_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inspiration_Quotes"
            android:label="@string/inspirtaional_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Breakup_Quotes"
            android:label="@string/break_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Friendship_Quotes"
            android:label="@string/friendship_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Favorite_Quotes"
            android:label="@string/favourite_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About_US"
            android:label="@string/about_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Motivational_Quotes"
            android:label="@string/motivational_quotes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Failure_Quotes"
            android:parentActivityName=".MainActivity"
            android:label="@string/failure_quotes"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>